{% extends 'App_admin/basement.html' %}
{% load crispy_forms_filters %}
{% block admin_base_main %}
    <style>
        .container_content {
            margin: 10px 50px;
        }

        @media screen and (max-width: 720px) {
            .container_content {
                margin: 10px 20px;
            }
        }

        .form-div {
            padding: 10px;
            background: var(--body-bg);
            border-top: none;
            border-bottom: none;
            line-height: 24px;
            color: var(--body-quiet-color);
            width: 100%;
        }

        .form-div form select {
            vertical-align: top;
            height: 24px;
            color: var(--body-fg);
            border: 1px solid var(--border-color);
            border-radius: 4px;
            font-size: 14px;
            padding: 0 0 0 4px;
            margin: 0 0 0 10px;
        }

        /* Table Css */
        table {
            border: 1px solid #ccc;
            border-collapse: collapse;
            margin: 0;
            padding: 0;
            width: 100%;
            table-layout: fixed;
        }

        table tr {
            background-color: #040404;
            border: 1px solid #ddd;
            padding: .35em;
        }

        table th,
        table td {
            padding: .625em;
            text-align: center;
            color: white;
        }

        table th {
            font-size: .85em;
            letter-spacing: .1em;
            text-transform: uppercase;
            text-align: center;
        }

        @media screen and (max-width: 600px) {
            table {
                border: 0;
            }

            table caption {
                font-size: 1.3em;
            }

            table thead {
                border: none;
                clip: rect(0 0 0 0);
                height: 1px;
                margin: -1px;
                overflow: hidden;
                padding: 0;
                position: absolute;
                width: 1px;
            }

            table tr {
                border-bottom: 3px solid #ddd;
                display: block;
                margin-bottom: .625em;
            }

            table td {
                border-bottom: 1px solid #ddd;
                display: block;
                font-size: .8em;
                text-align: right;
            }

            table td::before {
                /*
                * aria-label has no advantage, it won't be read inside a table
                content: attr(aria-label);
                */
                content: attr(data-label);
                float: left;
                font-weight: bold;
                text-transform: uppercase;
            }

            table td:last-child {
                border-bottom: 0;
            }
        }
    </style>
    <div class="main__inner container_content">
        
        <div class="form-div">
        </div>
        <div class="container alert alert-light">
            <h2>Search From Table</h2>
            <br>
            <input id="id-search" type="text" class="form-control" onkeyup="searchFunction()"
                   placeholder="Search with Category Name">
            <br>
            <table id="id-user-table">
                <thead>
                <tr>
                    <th scope="col" style="color: #666666;">Author ID</th>
                    <th scope="col" style="color: #666666;">Job Title</th>
                    <th scope="col" style="color: #666666;">Company</th>
                    <th scope="col" style="color: #666666;">sub category</th>
                    <th scope="col" style="color: #666666;">attachments</th>
                    <th scope="col" style="color: #666666;">Validate</th>
                    <th scope="col" style="color: #666666;">created_at</th>
                    <th scope="col" style="color: #666666;">status</th>
                    <th scope="col" style="color: #666666;">budget</th>
                </tr>
                </thead>
                <tbody>
                {% for job in all_jobs %}
                    <tr>
                        <td data-label="author">{{ job.author.id }}</td>
                        <td data-label="Job Title">{{ job.job_title }}</td>
                        <td data-label="company_name">{{ job.company_name }}</td>
                        <td data-label="sub_category">{{ job.sub_category }}</td>
                        <td data-label="attachments">{{ job.attachments }}</td>
                        <td data-label="validate_until">{{ job.validate_until }}</td>
                        <td data-label="created_at">{{ job.created_at }}</td>
                        <td data-label="status">{{ job.status }}</td>
                        <td data-label="budget">{{ job.budget }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            
            <script>
                function searchFunction() {
                    // Declare variables
                    var input, filter, table, tr, td, i;
                    input = document.getElementById("id-search");
                    filter = input.value.toUpperCase();
                    table = document.getElementById("id-user-table");
                    tr = table.getElementsByTagName("tr");

                    // Loop through all table rows, and hide those who don't match the search query
                    for (i = 0; i < tr.length; i++) {
                        td = tr[i].getElementsByTagName("td")[0];
                        if (td) {
                            if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                                tr[i].style.display = "";
                            } else {
                                tr[i].style.display = "none";
                            }
                        }
                    }
                }
            </script>
        </div>
    </div>
{% endblock %}

{% block active_script %}
dashboard.classList.remove('mm-active');
Users.classList.remove('mm-active');
freelancerProfiles.classList.remove('mm-active');
buyerProfiles.classList.remove('mm-active');
jobCategory.classList.remove('mm-active');
subCategory.classList.remove('mm-active');
allJobs.classList.add('mm-active');
jobOffers.classList.remove('mm-active');
groups.classList.remove('mm-active');
chat_room.classList.remove('mm-active');
{% endblock %}
