{% extends 'App_admin/basement.html' %}
{% load crispy_forms_filters %}
{% block admin_base_main %}
    <style>
        .container_content {
            margin: 10px 50px;
        }

        @media screen and (max-width: 720px) {
            .container_content {
                margin: 10px 20px;
            }
        }

        .form-div {
            padding: 10px;
            background: var(--body-bg);
            border-top: none;
            border-bottom: none;
            line-height: 24px;
            color: var(--body-quiet-color);
            width: 100%;
        }

        .form-div form select {
            vertical-align: top;
            height: 24px;
            color: var(--body-fg);
            border: 1px solid var(--border-color);
            border-radius: 4px;
            font-size: 14px;
            padding: 0 0 0 4px;
            margin: 0 0 0 10px;
        }

        /* Table Css */
        table {
            border: 1px solid #ccc;
            border-collapse: collapse;
            margin: 0;
            padding: 0;
            width: 100%;
            table-layout: fixed;
        }

        table tr {
            background-color: #f8f8f8;
            border: 1px solid #ddd;
            padding: .35em;
        }

        table th,
        table td {
            padding: .625em;
            text-align: left;
        }

        table th {
            font-size: .85em;
            letter-spacing: .1em;
            text-transform: uppercase;
            text-align: left;
        }

        @media screen and (max-width: 600px) {
            table {
                border: 0;
            }

            table caption {
                font-size: 1.3em;
            }

            table thead {
                border: none;
                clip: rect(0 0 0 0);
                height: 1px;
                margin: -1px;
                overflow: hidden;
                padding: 0;
                position: absolute;
                width: 1px;
            }

            table tr {
                border-bottom: 3px solid #ddd;
                display: block;
                margin-bottom: .625em;
            }

            table td {
                border-bottom: 1px solid #ddd;
                display: block;
                font-size: .8em;
                text-align: right;
            }

            table td::before {
                /*
                * aria-label has no advantage, it won't be read inside a table
                content: attr(aria-label);
                */
                content: attr(data-label);
                float: left;
                font-weight: bold;
                text-transform: uppercase;
            }

            table td:last-child {
                border-bottom: 0;
            }
        }
    </style>
    <div class="main__inner container_content">
        <div class="content">
            <p>
                <span style="font-size: 20px">
                    Select custom user to change
                </span>
                <span>
                    <button class="btn-shadow btn btn-info" style="float: right" onclick="createUserFormOpener()">
                        ADD PROFILE
                    </button>
                </span>
            </p>
        </div>
        <div class="form-div">
        </div>
        <div class="container alert alert-light"><h2>Search From Table</h2>
            <br>
            <input id="id-search" type="text" class="form-control" onkeyup="myFunction1()"
                   placeholder="Search with Job Title">
            <br>
            <script>
                function myFunction1() {
                    // Declare variables
                    var input, filter, table, tr, td, i;
                    input = document.getElementById("id-search");
                    filter = input.value.toUpperCase();
                    table = document.getElementById("id-user-table");
                    tr = table.getElementsByTagName("tr");

                    // Loop through all table rows, and hide those who don't match the search query
                    for (i = 0; i < tr.length; i++) {
                        td = tr[i].getElementsByTagName("td")[2];
                        if (td) {
                            if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                                tr[i].style.display = "";
                            } else {
                                tr[i].style.display = "none";
                            }
                        }
                    }
                }
            </script>
            <table id="id-user-table">
                <thead>
                <tr>
                    <th scope="col" style="color: #666666;">Job Title</th>
                    <th scope="col" style="color: #666666;">User</th>
                    <th scope="col" style="color: #666666;">Offer Text</th>
                    <th scope="col">Offer Status</th>
                </tr>
                </thead>
                <tbody>
                {% for job_offer in all_job_offers %}
                    <tr>
                        <td data-label="Job Title">{{ job_offer.job.job_title }}</td>
                        <td data-label="User">{{ job_offer.user.username }}</td>
                        <td data-label="Offer Text">{{ job_offer.offer_text }}</td>
                        <td data-label="Offer Status">{{ job_offer.offer_status }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <script>
        let closer = 0;
        let createUserForm = document.getElementById('id-createuser-form');

        function createUserFormOpener() {
            if (closer === 0) {
                createUserForm.style.display = 'block';
                closer = 1;
            } else {
                createUserForm.style.display = 'none';
                closer = 0;
            }
        }
    </script>
{% endblock %}

{% block active_script %}
dashboard.classList.remove('mm-active');
Users.classList.remove('mm-active');
freelancerProfiles.classList.remove('mm-active');
buyerProfiles.classList.remove('mm-active');
jobCategory.classList.remove('mm-active');
subCategory.classList.remove('mm-active');
allJobs.classList.remove('mm-active');
jobOffers.classList.add('mm-active');
groups.classList.remove('mm-active');
chat_room.classList.remove('mm-active');
{% endblock %}
